body
{
	background-color: #233035;
}

h4
{
	color: whitesmoke;
	text-indent: 1em;
}
h5{
	color: whitesmoke;
	margin:0;
	line-height: 12px;
}
.container{
	margin-top: 4em;
	border-radius: 3px;
	width:40%;
	padding:1em;
	background-color: #27363B;
	min-height: 30em;
	-webkit-box-shadow: 0px 0px 26px 3px rgba(19,27,29,0.75);
	-moz-box-shadow: 0px 0px 26px 3px rgba(19,27,29,0.75);
	box-shadow: 0px 0px 26px 3px rgba(19,27,29,0.75);
}

#todo-list li.prior-high, .prior-medium, .prior-low
{
	
}

.prior-high
{
	background-color: #EB4960;
	margin-bottom: 0.2em;
	border-radius: 3px;
}

.prior-medium
{
	background-color: #F4837D;

	margin-bottom: 0.2em;
	border-radius: 3px;
}

.prior-low
{
	background-color: #FDCEAA;

	margin-bottom: 0.2em;
	border-radius: 3px;
}

.done
{
	background-color: #99B998;
	margin-bottom: 0.2em;
	border-radius: 3px;
	transform: perspective(300px) rotateX(180deg) scale(1, -1);
}

#todo-list
{
	list-style: none;
	padding-left: 0;
}

#todo-list li
{
	padding: 0.8em;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;

	transition: all 0.2s ease-out;
	
}

#todo-add-item
{

}

#todo-add-item input
{
	width: 100%;
	box-sizing: border-box;
	padding: 0.5em;
	border-radius: 5px;
	border: 1px solid #1f2b2f;
	background-color: #3c4a4e;
	color: #FFF;
	margin-bottom: 1em;
	color: whitesmoke;
}
#todo-add-item input:focus
{
	outline: none;
}

.priority{
	width:100%;
	display: flex;
	margin-bottom: 1em;
}
.btn{
	width:2em;
	height:1em;

	margin-left: 1em;
}
.btn-high{
	background-color: #EB4960;
}
.btn-medium{
	background-color: #F4837D;
}
.btn-low{
	background-color: #FDCEAA;
}
.selected{
	border: 1px solid whitesmoke;
}