html {
  height: 100%;
}

body{
    background-image: url(../images/background.png);
    background-size: cover;
    text-transform: uppercase;
}

header{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    
    padding-top:2em;
    padding-bottom: 1em;
}

.logo{
    width: 100%;
}

.logo h1{
    width: 260px;
    margin: auto;
    font-family: 'new times roman'
    font-weight: medium;
    color: whitesmoke;
    font-size: 1.3rem;
    text-indent: 10px;
    letter-spacing: 15px;
    
}

.logo span{
    color: yellow;
    font-weight: lighter;
    font-size: 5rem;
    font-family: 'Raleway', sans-serif;
}

header p{
    font-family: 'Helvetica', sans-serif;
    font-size: 1rem;
    color: yellow;
    margin: 1em;
}

.content ul{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.content ul li{
    height: 200px;
    width: 600px;
    margin: 1em;
    background-size: cover;
    position: relative;
    
}
.batman{
    background-image:url(http://screenrant.com/wp-content/uploads/Batman-V-Superman-Trailer-3-Armor.jpg)!important;
}
.thor{
    background-image:url(http://www.chicklit.nl/ckfinder/userfiles/images/Chicklit/artikelen/Films/thor.jpg)!important; 
}
.ironman{
    background-image: url(https://cdn3.vox-cdn.com/thumbor/0wGSHzMZ_oWvb5_GVwxhXslupnY=/cdn0.vox-cdn.com/uploads/chorus_asset/file/2359250/iron_man_and_war_machine.0.jpeg)!important;
}
.captain{
    background-image: url(http://images-cdn.moviepilot.com/images/c_fill,h_1163,w_1707/t_mp_quality/gf3whitcpcajhczvysmb/the-captain-america-75th-anniversary-special-gives-us-a-more-intimate-look-behind-the-shie-797397.jpg)!important;
}
.antman{
    background-image: url(http://www.telegraph.co.uk/content/dam/film/AntMan/antman-xlarge.jpg)!important;
}
.deadpool{
    background-image: url(http://static4.techinsider.io/image/56bce8632e5265ba008b6aeb/deadpool-has-two-end-credits-scenes--heres-what-they-mean-for-the-sequel.jpg)!important;
}
.GoG{
    background-image: url(http://0519f170a2731643c0a9-ec45ee3cb118921cf5758d3a3db775b7.r83.cf1.rackcdn.com/b356fe0ad7efc08a3b9b7bf3d4ce070c5dc5532f.png__846x0_q80.png)!important;
}
.civilwar{
    background-image: url(http://screenrant.com/wp-content/uploads/captain-america-civil-war-funnier-winter-soldier.jpg)!important;
}
.blackpanther{
    background-image: url(http://cdn1-www.comingsoon.net/assets/uploads/2015/06/BlackPanther.jpg)!important;
}

.content div{
    max-width: 250px;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.content h1{
    color: yellow;
    font-family: 'Helvetica', sans-serif;
    font-size: 1rem;
}

.content h2{
    color: whitesmoke;
    font-family: 'new times roman', serif;
    font-size: 1rem;
}

.small{
    flex: 1 250px;
}

.medium{
    flex: 1 500px;
}

.long{
    flex: 1 500px;
}

@media (min-width: 500px) {
    header p{
        margin-left: 50px;
        margin-right: 50px;
        font-size: 0.9rem;
    }
    .logo{
        margin: 0;
    }
}

@media (min-width: 800px) {
    .small{
        flex: 2 20%;
    }

    .medium{
        flex: 1.33 25%;
    }

    .long{
        flex: 1 40%;
    }
}

@media (min-width: 1400px) {
    header p{
        margin-left: 0px;
        margin-right: 0px;
    }
}